@font-face{
    font-family:'Material Symbols Rounded';
    src:url('./MaterialSymbolsRounded_28pt-Medium.ttf') format('truetype');
    font-weight:400;
    font-style:normal;
  }
  .material-symbol{font-family:'Material Symbols Rounded';}
  